body {
    font-family: Arial, sans-serif;
    background-color: #2e5a33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #140d11;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: right;
    max-width: 300px;
    margin: 0 auto;
}

#display {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #eff0f0;
    color: #111313;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 24px;
    padding: 10px;
    background-color: #da16a2;
    color: #f3eeee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c8c9c9;
}